<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.youtubevideolist">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
        <activity android:name=".Youtubeplayer"
            android:supportsRtl="true">

        </activity>
       <!-- <activity
            android:name="com.thefinestartist.ytpa.YouTubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <meta-data
            android:name="com.thefinestartist.ytpa.YouTubePlayerActivity.ApiKey"
            android:value="AIzaSyAOfxiG4aV66h3XmssCEkP3qCvCqMbDGDI" />-->
    </application>

</manifest>